{% extends "front/base_front.html.twig" %}

{% block title %}About Us - EduSync{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>About Us</h1>
    <!-- Add your about content here -->
</div>
{% endblock %}
