{# Admin Footer #}
<footer class="sticky-footer bg-light">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>&copy; 2026 EduSync - Gestion de Projets & Tâches</span>
        </div>
    </div>
</footer>
