{% extends 'admin/base_admin.html.twig' %}

{% block admin_content %}
  <h1>Blank Page</h1>
  <p>Ceci est une page vide que tu peux utiliser comme base pour créer de nouvelles sections.</p>
{% endblock %}
