{% extends "front/base_front.html.twig" %}

{% block title %}Shop - EduSync{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Shop</h1>
    <!-- Add your shop content here -->
</div>
{% endblock %}
