{% extends "front/base_front.html.twig" %}

{% block title %}Product Detail - EduSync Shop{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Product Details</h1>
    <p>Product ID: {{ shopId }}</p>
    <!-- Add your product detail content here -->
</div>
{% endblock %}
