{% extends "front/base_front.html.twig" %}

{% block title %}Teacher Detail - EduSync{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Teacher Details</h1>
    <p>Teacher ID: {{ teacherId }}</p>
    <!-- Add your teacher detail content here -->
</div>
{% endblock %}
