{% extends "front/base_front.html.twig" %}

{% block title %}Event Detail - EduSync{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Event Details</h1>
    <p>Event ID: {{ eventId }}</p>
    <!-- Add your event detail content here -->
</div>
{% endblock %}
