{% extends "front/base_front.html.twig" %}

{% block title %}Forum - EduSync{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Forum</h1>
    <p>Bienvenue sur le forum ! C'est ici que vous pouvez poser vos questions et discuter avec d'autres utilisateurs.</p>
    <!-- Add your forum content here -->
</div>
{% endblock %}
